<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel = "stylesheet" href="../style.css">
    </head>
    <body>
        <h1>Chat App</h1>
        <div id ="messages"></div>
        <form action="">
            <input name ="text" placeholder="text" id ="text"  />
            <button>Submit</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../components/Room.js"></script>
    </body>

</html>